<input #msg class="form-control" type="text" name="" id="" (keyup.enter) = "ver(msg.value)">
<ng-container *ngIf = "index !== -1  else noexiste ">
    <div class="card p-3 mt-2">
        <div class="card-block">
            <div class="card-title">
               <p> Nombre: {{datos.nombre}}</p>
            </div>
            <div class="text">
                <p>Biografia: {{datos.bio}}</p>
            </div>
            <div class="text">
                <p>Casa: {{datos.casa}}</p>
            </div>
            <div class="text">
                <p> <small> Aparicion: {{datos.aparicion}} </small></p>
            </div>
            <img [src]="datos.img" alt="" class="card-img img-fluid">
        </div>
    </div>
</ng-container>
<ng-template #noexiste>
    <p>{{mensaje}}</p>
</ng-template>